<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tela de Doações</title>
    <link rel="stylesheet" href="~/CssDoe/style.css">
</head>

<body>
    <div class="flex-container">
        <div class="cabecalho">
            <nav>
                <ul>
                    <li class="imgP2">
                        <a class="botao" href="~/Home/Index"><input type=image src="~/img/home.png"
                                width="50" height="50"><br>
                            <div class="botao1">Voltar</div>
                        </a>
                    </li>

                    <li class="imgP1">
                        <a class="imgP" href="~/Perfil/Perfil"><img src="~/img/perfil.png" width="65"
                                height="65"></a>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="ong1">

            <div class="img">
                <img src="~/img/amdafQRCode.jpeg" width="250" height="300">
            </div>

            <div class="texto">
                <div class="t1">

                    <div class="T1">
                        <h2>AMDAF</h2>
                    </div>

                    A Associação Médicos da Floresta é uma entidade civil sem fins lucrativos que procura ajudar as
                    pessoas de
                    comunidades indígenas com atendimento clínico e cirúrgico dando a devida assistência odontológica e
                    oftalmológica.
                    Desde 2016, mais de 40 mil indígenas foram ajudados e mais de 2500 óculos foram distribuídos.

                    <br>
                    <br>

                    <a class="btn1" href="https://amdaf.org/" target="AMDAF">SAIBA MAIS</a>
                </div>
            </div>
        </section>

        <section class="ong1">

            <div class="img">
                <img src="~/img/amdafQRCode.jpeg" width="250" height="300">
            </div>

            <div class="texto">
                <div class="t1">

                    <div class="T1">
                        <h2>FUNDAÇÃO DORINA</h2>
                    </div>

                    A Fundação Dorina Nowill para Cegos é uma instituição filantrópica que tende a facilitar a inclusão
                    de
                    crianças, jovens e adultos cegos ou com baixa visão por meio de serviços gratuitos e especializados,
                    com a
                    produção e distribuição de livros em braille para cerca de 3000 escolas, bibliotecas e organizações
                    por todo o Brasil.
                    <br>
                    <br>

                    <a class="btn1" href="https://fundacaodorina.org.br/" target="dorina">SAIBA MAIS</a>
                </div>
            </div>
        </section>

        <section class="ong1">

            <div class="img">
                <img src="~/img/adevaQRCode.jpeg" width="250" height="300">
            </div>

            <div class="texto">
                <div class="t1">

                    <div class="T1">
                        <h2>ADEVA</h2>
                    </div>

                    A Associação de Deficientes Visuais e Amigos promove a inclusão de pessoas com deficiência visual na
                    sociedade, principalmente por meio da inserção no mercado de trabalho. Essa instituição foi
                    responsável pela
                    criação do jornal CONVIVA, primeiro periódico impresso em Braille e em tinta do Brasil, distribuído
                    gratuitamente.
                    <br>
                    <br>

                    <a class="btn1" href="https://www.adeva.org.br/" target="adeva">SAIBA MAIS</a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>