@{
    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tela de contato dos programadorres</title>
        <link rel="stylesheet" href="~/feedbackCss/style.css" asp-append-version="true" />
    </head>

    <body>

<header>
    <nav class="nav-link">
        <ul>
            <li>
                <a href="~/Home">Home</a>
            </li>
        </ul>
    </nav>
</header>
        <div class="container">

            <div class="content">
                Nome:
                <p> texto
                </p>
                <br>
                E-mail:
                <p>texto
                </p>
                <br>
                Asssunto:
                <p>texto
                </p>
                <br>
                Descrição:
                <br><br>
                <div class="descricao">
                    <p>texto
                    </p>
                    <br>
                </div>
            </div>






            <div class="botoes">
                <button class="button" type="button"> Voltar </button>
                <button class="button" type="button">Próximo</button>


            </div>

        </div>

    </body>

    </html>
}
