@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0763B9 0%, #6DD3FF 62.04%);
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style: none;
    cursor: pointer;
}

    li .homeImg {
    }


.backHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 25, 115, 0.25);
    color:white;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
}

.feedbackCont {
    padding: 3em;
    padding-top: .5em;
    width: 50em;
    margin: 5em;
    height: auto;
    background-color: white;
    border: 1.5px solid black;
    border-radius: .8em;
    box-shadow: 0px 4px 4px 0px rgba(0, 25, 115, 0.25);
}

.contUp {
    display: flex;
    width: 100%;
    padding-right: 1em;
    justify-content: end;
    text-align: center;
    padding: 1em;
}

    .contUp label {
        padding-right: .5em;
    }

.contCenter {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    text-align: justify;
    height: auto;
}

p {
    font-weight: 300;
}

label {
    font-weight: 500;
}

.content {
    text-align: justify;
    height: auto;
    align-items: flex-start;
    width: 100%;
}
