@{
    <html>

    <head>
        <link rel="stylesheet" href="~/Mcss/style.css" />
    </head>

    <body>

        <div class="MiopiaContainer">

            <div class="b-titulo">
                <h1>FASE 1</h1>
            </div>

            <div class="b-img">
                <img src="~/ImgsMiopia/1.png">
            </div>

            <div class="grid-botao">

                <div class="linha1">
                    <a class="m-botao" onclick="cbuttonF1('btn1')" id="btn1" href="~/Miopia/Fase2">
                        
                        <img src="~/imgsmiopia/Corretas/1.png" alt="">
                    </a>
                    <a class="m-botao" onclick="cbuttonF1('btn2')" id="btn2" href="~/Miopia/Fase2">
                        
                        <img src="~/imgsmiopia/Incorretas/1inc.png" alt="">
                    </a>
                    <a class="m-botao" onclick="cbuttonF1('btn3')" id="btn3" href="~/Miopia/Fase2">
                        
                        <img src="~/imgsmiopia/Incorretas/1inc2.png" alt="">
                    </a>
                </div>

                <div class="linha2">
                    <a class="m-botao2" onclick="cbuttonF1('btn4')" id="btn4" href="~/Miopia/Fase2">
             
                        Não enxergo nada!
                    </a>

                </div>

            </div>

        </div>

        <script src="~/jsMiopia/fase1.js"></script>
    </body>



    </html>

}
