@{
    <html>
    <head>
        <link rel="stylesheet" href="~/Mcss/style.css" />
    </head>

    <body>

        <div class="MiopiaContainer">

            <div class="b-titulo">
                <h1>FASE 2</h1>
            </div>

            <div class="b-img">
                <img src="~/img/MiopiaImgs/lvl1.png">
            </div>

            <div class="grid-botao">

                <div class="linha1">
                    <a class="m-botao" onclick="cbuttonF2('btn1')" id="btn1"></a>
                    <a class="m-botao" onclick="cbuttonF2('btn2')" id="btn2"></a>
                    <a class="m-botao" onclick="cbuttonF2('btn3')" id="btn3"></a>
                </div>


                <div class="linha2">
                    <a class="m-botao" onclick="cbuttonF2('btn4')" id="btn4"></a>
                    <a class="m-botao" onclick="cbuttonF2('btn5')" id="btn5"></a>
                    <a class="m-botao" onclick="cbuttonF2('btn6')" id="btn6"></a>
                </div>

            </div>



            <a class="a-button" href="~/Miopia/Fase3"> AVANÇAR </a>





        </div>
        <script src="~/jsMiopia/fase2.js"></script>

    </body>



    </html>



}

