
@{
    <html>
    <head>
        <link rel="stylesheet" href="~/Mcss/style.css" />
    </head>

    <body>

        <p>FASE1</p>
        <a href="~/Home"> home </a>
        <br>
        <a href="~/Miopia/Fase2"> Fase 2</a>


        <div class="background-img"></div>
    </body>


</html>
   


}
