@{
    <html>

    <head>
        <link rel="stylesheet" href="~/Mcss/style.css" />
    </head>

    <body>

        <div class="MiopiaContainer">

            <div class="b-titulo">
                <h1>FASE 5</h1>
            </div>

            <div class="b-img">
                <img src="~/ImgsMiopia/5.png">
            </div>

            <div class="grid-botao">

                <div class="linha1">
                    <a class="m-botao" onclick="cbuttonF5('btn1')" id="btn1" href="~/Miopia/Fase6">
                        <img src="~/imgsmiopia/Incorretas/5inc.png" alt="">
                    </a>
                    <a class="m-botao" onclick="cbuttonF5('btn2')" id="btn2" href="~/Miopia/Fase6">
                        <img src="~/imgsmiopia/Corretas/5.png" alt="">
                    </a>
                    <a class="m-botao" onclick="cbuttonF5('btn3')" id="btn3" href="~/Miopia/Fase6">
                        <img src="~/imgsmiopia/Incorretas/5inc2.png" alt="" >
                    </a>
                </div>

                <div class="linha2">
                    <a class="m-botao2" onclick="cbuttonF5('btn4')" id="btn4" href="~/Miopia/Fase6">
                        Não enxergo nada!
                    </a>

                </div>

            </div>
        </div>

    </body>
        <script src="~/jsMiopia/fase5.js"></script>



    </html>

}
