@{
    <html>

    <head>
        <link rel="stylesheet" href="~/Mcss/style.css" />
    </head>

    <body>

        <div class="MiopiaContainer">

            <div class="b-titulo">
                <h1>FASE 8</h1>
            </div>

            <div class="b-img">
                <img src="~/ImgsMiopia/8.png">
            </div>

            <div class="grid-botao">

                <div class="linha1">
                    <a class="m-botao" onclick="cbuttonF8('btn1')" id="btn1" >
                        <img src="~/imgsmiopia/Incorretas/8inc2.png" alt="" >
                    </a>
                    <a class="m-botao" onclick="cbuttonF8('btn2')" id="btn2"  >
                        <img src="~/imgsmiopia/Corretas/8.png" alt="">
                    </a>
                    <a class="m-botao" onclick="cbuttonF8('btn3')" id="btn3"  >
                        <img src="~/imgsmiopia/Incorretas/8inc.png" alt="">
                    </a>
                </div>

                <div class="linha2">
                    <a class="m-botao2" onclick="cbuttonF8('btn4')" id="btn4"  >
                        Não enxergo nada!
                    </a>

                </div>

            </div>

            <a> Resultado </a>
        </div>

        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="~/jsMiopia/fase8.js"></script>
    </body>



    </html>

}
