@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.field-with-error {
    color: red;
    transition:.4s;
}

body{
    width:100%;
    min-height:100vh;
    background: url('../img/parque.jpg') no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}


.conteudo {
    width: 28em;
    height: 30em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #000;
    border-radius: 10px;
}

.head-form {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size:1.3em;

    /* background-color:red;*/
}

.head-form img{
    width:5em;
    height:5em;
}

.form-box{
    width:400px;
        

}

.input-container{
    padding:20px;
}

.input-box {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    position: relative;
}

    .input-box input {
        position: absolute;
        height: 2em;
        margin-top: 5px;
        position: relative;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }



        .input-box span {
            position: relative;
            top: 50%;
            left: 95%;
            transform: translateY(-130%);
            width: fit-content;
        }


.esc-senha {
    padding-bottom: 10px;
    text-align: end;
}

.submit-btn{
    display:flex;
    align-content:center;
    justify-content:center;
 }

.btn {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px;
    padding: 18px;
    text-align: center;
    justify-content: center;
    height: 20px;
    border: none;
    background-color: #7DB1F9;
    font-size:1.2em;
    font-weight:500;
    border:2px solid;
    cursor:pointer;
}

.login-register{
    display:flex;
    align-content:center;
    justify-content:center;
}

