@{
    ViewData["Title"] = "Home Page";

    Layout = null;
}

<html> 

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<header>
    <nav class="menu">

        <ul>

            <div class='ul-img'>

                <img class="logo" src="img/logo.png" id="sobre"></img>

            </div>

            <div class='ul-cont'>

                <a class='cont-item' href="#sobre">SOBRE</a>
                <a class='cont-item' href="#ongs">ONG</a>
                <a class='cont-item' href="#jogos">JOGOS</a>
                <a class='cont-item' href="#contato">CONTATO</a>
                <a class='cont-icon'> </a>

            </div>

            <div class='ul-Perfil'>
                <img class='ul_imgPerfil' src="img/perfil.png"></img>

            </div>

            <div class='ul-logout'>

                <a><IoLogOutOutline /></a>

            </div>

        </ul>
    </nav>
</header>


<main>

    <section id="sobre" class='secSobre'>

        <div class='Container'>

            <div class='cont-secSobre'>

                <div class='sec-Sobre'>

                    <div class='sob-img'>
                        <img src="~/img/crianca.png"></img>
                    </div>

                    <div class='sob-cont'>

                        <div class='sob-Titulo'>

                            <h1>Sobre</h1>

                        </div>

                        <div class='sob-Texto'>
                            Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                            perferendis id dolores perspiciatis. Est quia dicta et assumenda natus et odio blanditiis aut quas magnam. Et sint magnam et nihil culpa
                            eos nobis dicta aut exercitationem ipsa ut quae voluptatem ad voluptatum voluptate. Nam deleniti provident qui nostrum voluptatem et odit distinctio eos obcaecati sint rem aliquid consectetur et odio voluptatem.
                            Ex cupiditate nemo et labore placeat At soluta illum quo galisum odit et tempore voluptas. Et aliquid rerum quo quod quae qui veritatis dignissimos.
                            Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                            perferendis id dolores perspiciatis. Est quia dicta et assumenda natus et odio blanditiis aut quas magnam.
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="ongs" class='secDoe'>
        <div class='contDoe'>

            <div class='c_Conteudo'>

                <div class='c_doe_grafico'>
                    <img src="img/grafico.jpg"></img>
                </div>


                <div class='c_doeInfos'>

                    <div class='c_doInfTitulo'>
                        <h1>Por que doar?</h1>
                    </div>

                    <div class='c_doInf_Texto'>
                        Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis perferendis id dolores perspiciatis.
                        Est quia dicta et assumenda natus et odio blanditiis aut quas magnam.
                        Et sint magnam et nihil culpa eos nobis dicta aut exercitationem ipsa ut quae voluptatem ad voluptatum voluptate.
                        Nam deleniti provident qui nostrum voluptatem et odit distinctio eos obcaecati sint rem aliquid consectetur et odio voluptatem.
                        Ex cupiditate nemo et labore placeat At soluta illum quo galisum odit et tempore voluptas. Et aliquid rerum quo quod quae qui veritatis
                    </div>

                    <div class='c_doInf_Botao'>
                        <button class='c_inf-button'> Doe </button>
                    </div>
                </div>


            </div>


        </div>



    </section>

    <section id="jogos" class='secJogos'>

        <div class='jogos-conteudo'>

            <div class='jog-conteudo-comp'>

                <div class='cont_jogos-titulo'>
                    <h1>JOGOS</h1>
                </div>

                <div class='cont_jogos-cont'>

                    <div class='cont_jogos_caixa-op'>

                        <div class='cont_jogos-c-op-1-cont'>

                            <div class='op-cx-op-A'>
                                <div class='op-titulo'>
                                    <h3>MIOPIA</h3>
                                </div>
                                <div class='op-botao'>
                                    <img src="img/miopia.png" width=200px height=200px></img>
                                </div>
                            </div>

                            <div class='op-Texto'>
                                Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                                perferendis id dolores perspiciatis.Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                                perferendis id dolores perspiciatis.
                            </div>

                        </div>

                        <div class='cont_jogos-c-op-2-cont'>

                            <div class='op-cx-op-B'>
                                <div class='op-titulo'>
                                    <h3>DALTONISMO</h3>
                                </div>
                                <div class='op-botao'>
                                    <img src="~/img/daltonismo.png" width={200} height={200}></img>
                                </div>
                            </div>

                            <div class='op-Texto'>
                                Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                                perferendis id dolores perspiciatis.Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                                perferendis id dolores perspiciatis.
                            </div>

                        </div>

                        <div class='cont_jogos-c-op-3-cont'>

                            <div class='op-cx-op-C'>
                                <div class='op-titulo'>
                                    <h3>ASTIGMATISMO</h3>
                                </div>
                                <div class='op-botao'>
                                    <img src="~/img/daltonismo.png" width={200} height={200}></img>
                                </div>
                            </div>

                            <div class='op-Texto'>
                                Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                                perferendis id dolores perspiciatis.Lorem ipsum dolor sit amet. Aut totam rerum eos temporibus nostrum est quas magni ex quia quidem aut facilis
                                perferendis id dolores perspiciatis.
                            </div>

                        </div>

                    </div>

                </div>

            </div>



        </div>


    </section>

    <section id="contato" class='secContato'>
        <div class='contato-conteudo'>
            <div class='cont-geral'>

                <div class='contat-titulo'>
                    <h1>CONTATO</h1>
                </div>

                <div class='box-contato'>
                    <form class='cont-form'>

                        <span class='info-area'>

                            <div class='info-cont'>

                                <input class='box-nome' type='text' placeholder='Nome'></input>
                                <input class='box-email' type='text' placeholder='Email'></input>
                                <input class='box-assunto' type='text' placeholder='Assunto'></input>
                                <input class='box-submit' type='submit' placeholder='Enviar'></input>

                            </div>

                        </span>

                        <span class='txt-area'>
                            <textarea class='box-desc' cols=60 type='text' placeholder='Descrição'></textarea>

                        </span>


                    </form>
                </div>

            </div>

        </div>
    </section>

</main>

<script src="~/js/site.js"></script>
</html>