
@model Tcc.Models.Feedback


@{
    ViewData["Title"] = "Home Page";

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
    <header>

            
        <nav class="menu">

            <ul  class='ul-img'>

                    <img class="logo" src="~/img/logo.png" id="sobre"> 


                <div class='ul-cont'>

                    <a class='cont-item' href="#sobre">SOBRE</a>
                    <a class='cont-item' href="#ongs">ONG</a>
                    <a class='cont-item' href="#jogos">JOGOS</a>
                    <a class='cont-item' href="#contato">CONTATO</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Feedback/Feedback">Feedback</a>
                    }

                </div>  


                <div class='ul-Perfil'>
                    <a href="~/Perfil/Perfil">

                        <img class='ul_imgPerfil' src="~/img/perfil.png">  
                    
                    </a>  
                </div>


               <div class='ul-logout'>
                    <a asp-controller="Conta" class="btn btn-link" asp-action="Login"><img src="/img/logout.png"></a>
                </div>

            </ul>
        </nav>
        
    </header>


    <main>

        <section id="sobre" class='secSobre'>

       

            <div class='Container'>

                <div class='cont-secSobre'>

                    <div class='sec-Sobre'>

                        <div class='sob-img'>
                            <img src="~/img/crianca.png">
                        </div>

                        <div class='sob-cont'>

                            <div class='sob-Titulo'>

                                <h1>Sobre</h1>

                            </div>

                            <div class='sob-Texto'>
                                Esse projeto tem como finalidade proporcionar uma melhor qualidade de vida para as crianças que enfrentam no seu dia a dia as dificuldades causadas pela baixa visão.
                                No decorrer do website será apresentado de forma minuciosa e divertida uma possível ajuda, que poderá auxiliar os pais ou responsáveis a obter uma direção por meio de jogos simples e dinâmicos, para posteriormente analisar se estas crianças precisam recorrer a um especialista.
                                Devido a isso, os alunos do grupo Brilliant Minds do curso Técnico em Desenvolvimento de Sistemas - AMS dedicam esse projeto a todas as crianças e responsáveis que encaram esse problema e necessitam de auxílio e apoio.

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section id="ongs" class='secDoe'>
            <div class='contDoe'>

                <div class='c_Conteudo'>

                    <div class='c_doe_grafico'>
                        <img src="~/img/grafico.jpg">
                    </div>


                    <div class='c_doeInfos'>

                        <div class='c_doInfTitulo'>
                            <h1>Por que doar?</h1>
                        </div>

                        <div class='c_doInf_Texto'>
                            Segundo o Conselho Brasileiro de Oftalmologia, estima-se que no Brasil, 30 mil crianças estão cegas por doenças oculares que poderiam ser tratadas precocemente e outras 140 mil são portadoras de baixa visão, e ainda segundo a Dra. Marcela Barreira, os erros refrativos são responsáveis por 43% ou mais dos casos de cegueira ou baixa visão na infância.
                            O levantamento realizado pelo CBO, diz que aproximadamente 20% das crianças em idade escolar apresentam distúrbios oftalmológicos, em decorrência de erros refracionais não corrigidos.
                            Ao fazer doações, o usuário se torna um contribuidor para ações médicas a longo prazo em saúde, educação e no desenvolvimento infantil, garantindo uma boa qualidade de vida para as crianças.

                        </div>

                        <div class='c_doInf_Botao'>
                            <a href="~/Doacao/Doacao">
                                <button class='c_inf-button'> Doe </button>
                            </a>
                            
                        </div>
                    </div>


                </div>


            </div>



        </section>

        <section id="jogos" class='secJogos'>

            <div class='jogos-conteudo'>

                <div class='jog-conteudo-comp'>

                    <div class='cont_jogos-titulo'>
                        <h1>JOGOS</h1>
                    </div>

                    <div class='cont_jogos-cont'>

                        <div class='cont_jogos_caixa-op'>

                            <div class='cont_jogos-c-op-1-cont'>

                                <div class='op-cx-op-A'>
                                    <div class='op-titulo'>
                                        <h3>MIOPIA</h3>
                                    </div>
                                    <div class='op-botao'>
                                        <a href="~/Home/CadastroMiopia" data-bs-toggle="modal" data-bs-target="#exampleModal">

                                        <img class="imgJogo" src="~/img/miopia.png" > 

                                        </a>
                                    </div>
                                </div>

                                <div class='op-Texto'>
                                    <p>

                                        A miopia é o distúrbio visual que acarreta uma focalização da imagem antes dessa chegar à retina.
                                        Uma pessoa míope consegue ver objetos próximos com nitidez,
                                        mas os distantes são visualizados como se estivessem embaçados (desfocados).

                                    </p>
                                </div>

                            </div>

                            <div class='cont_jogos-c-op-2-cont'>

                                <div class='op-cx-op-B'>
                                    <div class='op-titulo'>
                                        <h3>DALTONISMO</h3>
                                    </div>
                                    <div class='op-botao'>
                                        <a href="~/Home/DaltonismoGame" data-bs-toggle="modal" data-bs-target="#exampleModal">

                                            <img class="imgJogo" src="~/img/daltonismo.png"> 

                                        </a>
                                    </div>
                                </div>

                                <div class='op-Texto'>
                                    O daltonismo é um distúrbio da visão em que a pessoa tem dificuldade ou incapacidade de distinguir algumas cores, principalmente verde e vermelho. Essa alteração é na maioria dos casos genética,
                                    porém pode surgir através de lesões nos olhos ou nos neurônios responsáveis pela visão.
                                </div>

                            </div>

                        </div>

                    </div>

                </div>



            </div>




        </section>

        <section id="contato" class='secContato'>
            <div class='contato-conteudo'>
                <div class='cont-geral'>

                    <div class='contat-titulo'>
                        <h1>CONTATO</h1>
                    </div>

                    <div class='box-contato'>

                        <form asp-controller="Home" asp-action="EnviarFeedback" method="post" class='cont-form'>

                            <span class='info-area'>

                                <div class='info-cont'>
                                        
                                        <input asp-for="NomeUs" class='box-nome' type='text' placeholder='Nome' required />
                                        <input asp-for="Email" class='box-email' type='text' placeholder='Email' required />
                                        <input asp-for="Assunto" class='box-assunto' type='text' placeholder='Assunto' required />
                                        <input class='box-submit' type='submit' placeholder='Enviar' />

                                </div>

                            </span>

                                <span class='txt-area'>
                                    <textarea asp-for="Descricao" class='box-desc' cols=60 type='text' placeholder='Descrição' required></textarea>
                                </span>

                        </form>
                    </div>

                </div>

            </div>
        </section>

    </main>


</body>

<script src="~/js/site.js"></script>

</html>
