@{
    <!DOCTYPE html>

    <html>
    <head>
        <link rel="stylesheet" href="~/Mcss/mstyle.css" />

    </head>

    <body>
    
    <div class="container">

        <div class="content">
    
                <div class="parte-1">
                    <img src="~/img/crianças.png" width="500" height="500">
                </div>

                <div class="parte-2">
                    <p> </p>
                    <p class="p-titulo"> Instruções</p>

                    <div class="box-cima">
                    <p> Primeiramente o jogador deverá se posicionar a uma distancia de 3 metros da tela para obter um melhor resultado.
                            Cada fase irá ter uma imagem com uma ou mais letras de maneira específica,
                            para cada uma terá seis opções, a criança deverá clicar na opção que ela achar correta.
                            No final o resultado aparecerá e será possível visualiza-lo,
                            e também receberá um pré diagnóstico.
                    </p>
                    </div>

                    <div class="box-baixo">
                        <a href="~/Home/Index">
                            <img src="/img/home-b.png" width="80" height="80">
                        </a>


                        <a href="~/Miopia/Fase1">
                            <img src="/img/play.png" width="80" height="80">
                        </a>
                    </div>
                </div>
        </div>
    </div>

        <script src="~/js/RegistroMiopia.js"></script>
    </body> 
    </html>
}

