
@{
    <head>
        <link rel="stylesheet" href="~/Mcss/mstyle.css" />

    </head>

    <body>
    

    <div class="container">
        
            <div class="parte-1">
                <img src="~/img/crianças.png" width="500" height="500">
            </div>


            <div class="parte-2">
                <div class="box-cima">
                <p>
                mucho texto
                </p>
                </div>

                <div class="box-baixo">
                </div>
            </div>


    </div>
    
    </body>

    //<h1>
        //Miopia!
    //</h1>

    //<a href="~/Home">
    //    <button class='c_inf-button'> Home </button>
    //</a>

    //<a href="~/Miopia/Fase1">
    //    <button class='c_inf-button'> iniciar </button>
   // </a>
   
}
