
@{
       <h1>
        Miopia!
    </h1>

    <a href="~/Home">
        <button class='c_inf-button'> Home </button>
    </a>

    <a href="~/Miopia/Fase1">
        <button class='c_inf-button'> iniciar </button>
    </a>
}
