@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}


@media only screen and (max-width: 1400px) {
    body {
        font-size: .6em;
      
    }

    .b-img img {
        width: 31em;
        height: 31em;
    }
}

@media only screen and (width: 1900px) {
    body {
        font-size: .7em;
    }

    .b-img img {
        width: 20em;
        height: 20em;
    }
}

@media only screen and (width: 2200px) {
    body {
        font-size: .7em;
    }

    .b-img img {
        width: 25em;
        height: 25em;
    }
}

body {
    background: url(/imgsDalto/Zoojogo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 35em;
    height: 55em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.teste {
    display: flex;
    height: 100%;
    margin-right: 10%;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 20px;
}

.grid-botao a {
    display: flex;
    flex-direction: column;
    width: 5em;
    height: 5em;
    text-decoration: none;
    box-shadow: 0px 15px 11px -1px rgba(0, 0, 0, 0.25);
    border-radius: .8em;
    cursor: pointer;
}



.linha1 {
    display: flex;
    flex-direction: row;
    border-radius: .8em;
    padding: 2em;
    gap: 2em;
}

.linha2 {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 2em;
    gap: 2em;
}

.linha3 {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 2em;
}

.linha3 .result{
    padding: 1em 2em 1em 2em;
    border: none;
    font-size: 1em;
    border-radius: .8em;
    transition: .3s ease;
    font-family: 'Holtwood One SC', serif;
    color: #000;
    font-weight:200;
    border: 1px solid;


}

.linha3 .result:hover{
    transform: scale(1.050 );
    transition: .3s ease;
}

.btn {
    padding: 2em;
}

.a-button {
    width: 15em;
    height: 3.5em;
    background-color: #792F14;
    border-radius: .8em;
    box-shadow: 0px 15px 11px -1px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bungee Inline;
    color: #ffffff;
    transition: .3s ease;
    cursor: pointer;
    font-size: 16px;
}

    .a-button:hover {
        background-color: #622008;
        transform: scale(1.1);
        transition: .3s ease;
    }

.jogo-letras {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1em;
}

.m-botao {
    transition: .3s ease;
}

    .m-botao:hover {
        transform: scale(1.1);
        transition: .3s ease;
    }


.b-titulo h1 {
    display: flex;
    font-family: Bungee;
    color: #ffffff;
    padding: 1em;
    font-weight: 100;
    background-color: #792F14;
}

.b-img {
    width: 20em;
    height: 20em;
    border-radius: 2em;
    margin-right: 28%;
    margin-bottom: 29%;
}
