<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Dcss/badresult.css">
</head>

<body>
    <div class="container">
        <div class="titulo">
            <label>Resultado</label>
        </div>
        <div class="conteudo">
            <p>
                É possível que você tenha um “Déficit de Visão de Cores”. Para um resultado preciso aconselhamos consultar um especialista.
            </p>
            <h4 id="Total">acertos:</h4>
        </div>
        <div class="botao">
            <a class="a-button" href="~/Daltonismo/CadastroDaltonismo"> Refazer </a>
            <br>
            <a class="a-button" href="~/Home/Index"> Sair </a>
        </div>
    </div>
    <script src="~/jsDaltonismo/res.js"></script>
</body>

</html>