<html>

<head>
    <link rel="stylesheet" href="~/Dcss/style.css" />
</head>

<body>

    <div class="teste">

        <div class="b-titulo">
            <h1>Qual é o Animal?</h1>
        </div>

    </div>

    <div class="Container">

        <div class="b-img">
            <img src="~/imgsDalto/1.png">
        </div>
        <br>
        <div class="grid-botao">

            <div class="linha1">
                <a class="m-botao" onclick="cbuttonF2('btn1')" id="btn1"  href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/passaro.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn2')" id="btn2" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/cobra.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn3')" id="btn3" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/peixe.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn4')" id="btn4" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/cachorro.png" >
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn5')" id="btn5" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/urso.png">
                </a>
            </div>


            <div class="linha2">
                <a class="m-botao" onclick="cbuttonF2('btn6')" id="btn6" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/borboleta.jpg">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn7')" id="btn7" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/cervo.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn8')" id="btn8" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/esquilo.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn9')" id="btn9" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/coelho.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn10')" id="btn10" href="~/Daltonismo/Fase2">
                    <img class="jogo-letras" src="~/imgsDalto/nada.jpg">
                </a>
            </div>

        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="~/jsDaltonismo/Fase1.js"></script>

</body>


</html>