<html>

<head>
    <link rel="stylesheet" href="~/Dcss/style.css" />
</head>

<body>

    <div class="teste">

        <div class="b-titulo">
            <h1>Qual é o Animal?</h1>
        </div>

    </div>

    <div class="Container">

        <div class="b-img">
            <img src="~/imgsDalto/5.png">
        </div>

        <div class="grid-botao">

            <div class="linha1">
                <a class="m-botao" onclick="cbuttonF2('btn1')" id="btn1" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/elefante.jpg">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn2')" id="btn2" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/lesma.jpg">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn3')" id="btn3" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/cachorro.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn4')" id="btn4" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/girafa.jpg">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn5')" id="btn5" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/pinguin.png">
                </a>
            </div>


            <div class="linha2">
                <a class="m-botao" onclick="cbuttonF2('btn6')" id="btn6" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/urso.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn7')" id="btn7" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/esquilo.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn8')" id="btn8" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/cervo.png">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn9')" id="btn9" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/pato.jpg">
                </a>
                <a class="m-botao" onclick="cbuttonF2('btn10')" id="btn10" href="~/Daltonismo/Fase6">
                    <img class="jogo-letras" src="~/imgsDalto/nada.jpg">
                </a>
            </div>

        </div>

    </div>



    </div>
    <script src="~/jsDaltonismo/Fase6.js"></script>

</body>



</html>



